.formCreatorItem {
	background: #71646417;
	border: 1px solid gray;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
}

.size-large {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 98%;
}

.size-medium {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 48%;
}

.size-small {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 30%;
}

.size-tiny {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 20%;
}
