.col {
	border: 2px solid red;
	text-align: center;
}

label {
	display: block;
	text-align: left;
}

.formCreatorItem {
	background: #71646429;
	border: 1px solid gray;
	margin: 20px;
	padding: 20px;
}

.formCreatorItem label input,
.formCreatorItem label select {
	float: right;
}

.form-group {
	display: inline-block;
	margin: 0 10px 0 0;
}
.size-large {
	width: 100%;
}

.size-medium {
	width: 48%;
}

.size-small {
	width: 30%;
}

.size-tiny {
	width: 20%;
}
